/ {
  chosen {
  };

  buttons: buttons {
    compatible = "gpio-keys";
    button0: button_0 {
      gpios = <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "Push button switch 0";
      zephyr,code = <INPUT_KEY_0>;
    };
    button1: button_1 {
      gpios = <&gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "Push button switch 1";
      zephyr,code = <INPUT_KEY_1>;
    };
  };
};
